* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.navLinks {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    list-style-type: none;
    margin-left: 2300px;
    margin-top: 15px;;
}
.navLinks a {
    color: antiquewhite;
}
.topBar {
    display: flex;
    border-bottom: 4px solid;
    font-size: 25px;
}
@keyframes x {
    0% {
        color: orange
    }
    25% {
        color: aliceblue;
    }
    75% {
        color:greenyellow;
    }
    100%{
        color: orange;
    }
}
#logoName {
    animation: x 4s infinite;
    margin-top: 10px;
}
#logo {
    width:50px;
    border: solid white 4px;
    border-radius: 40px;
    margin-left: 15px;
    transition: all 2s;
}
#logo:hover {
    border-radius: 0%;
    border: 4px groove gray;
}
.headerContent {
    text-align: center;
    line-height: 1.7;
    margin-top: 200px;
    transform: translateX(0px);
    font-size: 40px;
    border-bottom: 4px solid black;
}
.headerText {
    margin: 200px 100px;
}
.headerContent button {
    font-size: 40px;
    margin: 160px 40px;
    padding: 30px;
    border-radius: 17px;
}
.headerContainer{
    display: flex;
}
#foodHeader {
    transform: translatey(-200px);
    height: 1400px;
    width:1400px;
   border-bottom: 4px solid ;
}
#reason{
    font-size: 70px;
    text-align: center;
    color: gold;
    text-shadow: 5px 5px gray;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;

}
.card{
    border: 5px solid white;
    box-shadow: 15px 15px 1px whitesmoke;
    padding: 50px;
    margin: 40px;
    width: 500px;
    height: 600px;
    transition: all 1s ease-out;
}
.card:hover{
    box-shadow: 15px 15px 7px antiquewhite;
    background-color: indigo;
    transform: translateY(-20px);
}
.cardContent {
    font-size: 35px;
}
.cardContent h2 {               
    color: greenyellow;
    border-bottom: 2px solid greenyellow;
}
@keyframes foodLeft {
    from {
        transform: translateX(-250px);
        opacity: 0.2;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes foodRight {
    from {
        transform: translateX(250px);
        opacity: 0.2;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes MTdesc{
    from {
        transform: translateY(-100px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}
#MTs {
    font-size: 70px;
    text-align: center;
    color: gold;
    text-shadow: 5px 5px gray;
}
.MTcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.MTcardLeft {
    
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    text-align: left;
    border-bottom: 7px groove gold;
}
.MTcardLeft img {
    animation: foodLeft 3s ease-in;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    width: 700px;
    height: 700px;
    object-fit: contain;
}
.MTcardLeft p, .MTcardRight p{
    font-family: cursive;
    animation: MTdesc 3s;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    text-align: center;
    margin-top: 250px;
    font-size: 40px;
}
.MTcardRight {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    border-bottom: 7px groove gold;
}
.MTcardRight img {
    animation: foodRight 3s ease-out;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    width: 700px;
    height: 700px;
    object-fit: contain;
}
#MTend {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: antiquewhite;
}
#MTend a{
    color: green;
}
#MTend a:hover{
    color:darkgreen;
}
footer {
    text-align: center;
    font-size: 43px;
    background-color: indigo;
    padding:100px;
    margin: 50px;
    line-height: 1.6;   
}

