* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.navLinks {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    list-style-type: none;
    margin-left: 1125px;
    margin-top: 7.5px;
}
.navLinks a {
    color: antiquewhite;
    transition: all;
}
.navLinks a:hover {
    color:white;
}
.topBar {
    display: flex;
    border-bottom: 2px solid;
    font-size: 12.5px;
}
@keyframes x {
    0% {
        color: orange
    }
    25% {
        color: aliceblue;
    }
    75% {
        color:greenyellow;
    }
    100%{
        color: orange;
    }
}
#logoName {
    animation: x 4s infinite;
    margin-top: 5px;
    padding-right: 10px;
}
#logo {
    width:25px;
    border: solid white 2px;
    border-radius: 20px;
    transition: all 2s;
}
#logo:hover {
    border-radius: 0%;
    border: 2px groove gray;
}
.headerContent {
    text-align: center;
    line-height: 1.7;
    margin-top: 100px;
    transform: translateX(0px);
    font-size: 20px;
    border-bottom: 2px solid black;
}
.headerText {
    font-family: sans-serif;
    margin: 100px 50px;
}
@keyframes button {
    0% {
        
    }
    50%{

    }
    100%{

    }
}
.headerContent button {
    font-size: 20px;
    margin: 80px 20px;
    padding: 15px;
    border-radius: 8.5px;
    background-color: gold;
    color: white;
    text-shadow: 2.5px 2.5px 5px black;
    border: 1px solid white;    
}
.headerContent button:hover{
    cursor: pointer;
    background-color: rgb(227, 195, 10);
}
.headerContainer{
    display: flex;
}
#foodHeader {
    transform: translatey(-100px);
    height: 700px;
    width:700px;
    border-bottom: 2px solid ;
}
#reason{
    font-size: 35px;
    text-align: center;
    color: gold;
    text-shadow: 2.5px 2.5px gray;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 2.5px solid white;
    box-shadow: 7.5px 7.5px 0.5px whitesmoke;
    padding: 25px;
    margin: 20px;
    width: 250px;
    height: 300px;
    transition: all 1s ease-out;
}
.card:hover{
    box-shadow: 7.5px 7.5px 3.5px antiquewhite;
    background-color: indigo;
    transform: translateY(-10px);
}
.cardContent {
    font-size: 17.5px;
}
.cardContent h2 {               
    color: greenyellow;
    border-bottom: 1px solid greenyellow;
}
@keyframes foodLeft {
    from {
        transform: translateX(-125px);
        opacity: 0.2;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes foodRight {
    from {
        transform: translateX(125px);
        opacity: 0.2;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes MTdesc{
    from {
        transform: translateY(-50px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}
#MTs {
    font-size: 35px;
    text-align: center;
    color: gold;
    text-shadow: 2.5px 2.5px  gray;
}
.MTcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.MTcardLeft {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    text-align: left;
    border-bottom: 3.5px groove gold;
}
.MTcardLeft img {
    animation: foodLeft 3s ease-in;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    width: 350px;
    height: 350px;
    object-fit: contain;
}
.MTcardLeft p, .MTcardRight p{
    font-family: cursive;
    animation: MTdesc 3s;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    text-align: center;
    margin-top: 125px;
    font-size: 20px;
}
.MTcardRight {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    border-bottom: 3.5px groove gold;
}
.MTcardRight img {
    animation: foodRight 3s ease-out;
    animation-timeline: view();
    animation-range: 0% cover 40%;
    width: 350px;
    height: 350px;
    object-fit: contain;
}
#MTend {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: antiquewhite;
}
#MTend a{
    color: greenyellow;
}
#MTend a:hover{
    color: green;
}
footer {
    text-align: center;
    font-size: 21.5px;
    background-color: indigo;
    padding: 50px;
    margin: 25px;
    line-height: 1.6;   
}