* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background: #5e5e5e;
    background: radial-gradient(circle, rgba(94, 94, 94, 1) 0%, rgba(5, 5, 5, 1) 50%);
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.calBody {
    border: 4px solid black;
    box-shadow: 7px 10px 10px black;
    width: 400px;
    height:auto;
    border-radius: 7px;
}
input {
    margin:30px;
    width: 340px;
    height:100px;
    text-align: right;
    color: azure;
    background: transparent;
    border: 5px ridge gray;
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
    color: azure;
    font-size: 5vh;
}
input::placeholder {
    color: azure;
    font-size: 5vh;
}
.topKeys {
    border-top:  solid;
}
button{
    width: 70px;
    height: 70px;
    margin: 11px;
    border: 2px ridge black;
    border-radius: 50%;
    background: #4c4c4c;
    color: aliceblue;
    box-shadow: 0px 4px 7px black;
    cursor: pointer;
    font-size: 3vh;
}
button:hover {
    background-color: rgb(40, 40, 40);
}
.equal {
    background: greenyellow;
    color: black;
}
.equal:hover{
    background-color: green;
}
.operator {
    background-color: orangered;
    color: greenyellow;
}
.operator:hover{
    background: rgb(131, 35, 0);
}
