* {
    box-sizing: border-box;
}
@keyframes moveDown {
    from{
        transform: translateY(-250px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes showIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}
#moveDown {
    animation: moveDown 1s;
}
#showIn {
    animation: showIn 3s;
}
#intro {
    font-size: 60px;
    font-family:cursive;
}
#introFlex{
    text-align: center; 
}
#intro img{
    width: 450px;
    height: auto;
    border: 10px solid skyblue;
    border-radius: 500px;
    box-shadow: 5px 5px 5px 5px;
    transition: all 1s;
}
#intro img:hover{
    border: groove 15px black;
    border-radius: 0%;
}
#images {
    margin-left: 180px;
}
#about {
    font-size: 50px;
    text-align: center;
    background-color:skyblue;
    padding: 100px;
    color: whitesmoke;
}
#intrests {
    font-size: 50px;
}
#intrests p {
    text-align: center;
}
#intrests meter{
    width: 1000px;
}
#intrests li {
    background-color: aliceblue;
    border: 5px solid aqua;
    transition: all 2s;
}
#intrests li:hover {
    background-color:whitesmoke;
}
#skills {
    font-size: 50px;
}
#skills ul {
    list-style-type: square;
}
#pr {
    font-size: 70px;
}
h4 {
    color: skyblue;
    border-left: 5px solid skyblue;
}
h3 {
    font-size: 30px;
    font-family: sans-serif;
    color:coral;
    border-left: 7px solid coral;

}
h2 {
    color: purple;
    font-family:cursive;
    border-left: 10px solid purple;
}

.card img{
    width: 400px;
    height: 200px;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card{
    animation: appear 1s;
    animation-timeline: view();
    animation-range: 0% cover 30%;
    width: 900px;
    height:auto;
    border:5px black solid;
    padding: 15px;
    margin: 20px;
    box-shadow: 0px 5px  10px;
    background-color:whitesmoke;
    transition: all 1s;
}
.card:hover {
    transform: translateY(-20px);
    background-color: antiquewhite;
    box-shadow: opx 10px 15px;
}
.card-content {
    font-size: 30px;
}
#cv{
    text-align: left;
    font-size: 50px;
    color: antiquewhite;
}
#cv:hover {
    color:gray
}
#contact {
    color: white;
    border: 5px solid skyblue;
    background-color: black;
    text-align: center;
    font-size: 20px;
}
#contact a:hover {
color: green;
}