* {
    
    box-sizing: border-box;
}
@keyframes moveDown {
    from{
        transform: translateY(-125px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes showIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 10px;
}
#moveDown {
    animation: moveDown 1s;
}
#showIn {
    animation: showIn 3s;
}
#intro {
    font-size: 30px;
    font-family:cursive;
}
#introFlex{
    text-align: center; 
}
#intro img{
    width: 225px;
    height: auto;
    border: 5px solid skyblue;
    border-radius: 250px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px;
    transition: all 1s;
}
#intro img:hover{
    border: groove 7.5px black;
    border-radius: 0%;
}
#images {
    display: flex;
    justify-content: center;
}
#images img {
    width: 500px;
    height: 200px;
    
}
#about {
    font-size: 25px;
    text-align: center;
    background-color:skyblue;
    padding: 50px;
    color: whitesmoke;
}
#intrests {
    font-size: 25px;
}
#intrests p {
    text-align: center;
}
#intrests meter{
    width: 500px;
}
#intrests li {
    background-color: aliceblue;
    border: 2.5px solid aqua;
    transition: all 2s;
}
#intrests li:hover {
    background-color:whitesmoke;
}
#skills {
    font-size: 25px;
}
#skills ul {
    list-style-type: square;
}
#pr {
    font-size: 35px;
}
h4 {
    color: skyblue;
    border-left: 2.5px solid skyblue;
}
h3 {
    font-size: 15px;
    font-family: sans-serif;
    color:coral;
    border-left: 3.5px solid coral;
}
h2 {
    color: purple;
    font-family:cursive;
    border-left: 5px solid purple;
}
.card img{
    width: 200px;
    height: 100px;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card{
    animation: appear 1s;
    animation-timeline: view();
    animation-range: 0% cover 30%;
    width: 450px;
    height:auto;
    border:2.5px black solid;
    padding: 7.5px;
    margin: 10px;
    box-shadow: 0px 2.5px  5px;
    background-color:whitesmoke;
    transition: all 1s;
}
.card:hover {
    transform: translateY(-10px);
    background-color: antiquewhite;
    box-shadow: opx 5px 7.5px;
}
.card-content {
    font-size: 15px;
}
#cv{
    text-align: left;
    font-size: 25px;
    color: antiquewhite;
}
#cv:hover {
    color:gray
}
#contact {
    color: white;
    border: 2.5px solid skyblue;
    background-color: black;
    text-align: center;
    font-size: 10px;
}
#contact a:hover {
    color: green;
}
